In [14]:
import os
import pandas as pd
from sklearn import model_selection
import numpy as np

In [3]:
input_path = '../data/'
df = pd.read_csv(os.path.join(input_path, 'labels.csv'))
df.head()

     filename        xRot
0  000000.png  182.835227
1  000001.png  246.988824
2  000002.png  280.845321
3  000003.png  261.549108
4  000004.png  192.652170

In [4]:
df.sort_values(by=['xRot'], inplace=True, ascending=False)

In [8]:
df.head()

        filename        xRot  kfold
9360  009360.png  359.884274     -1
3384  003384.png  359.787799     -1
3621  003621.png  359.752993     -1
1797  001797.png  359.744473     -1
4748  004748.png  359.729037     -1

In [7]:
df['kfold'] = -1

In [18]:
a = np.array([0,1,2,3,4])
df = df.assign(kfold=a[np.arange(len(df)) % len(a)])

In [19]:
df.head()

        filename        xRot  kfold
9360  009360.png  359.884274      0
3384  003384.png  359.787799      1
3621  003621.png  359.752993      2
1797  001797.png  359.744473      3
4748  004748.png  359.729037      4

In [21]:
df.to_csv(os.path.join(input_path, 'labels_folds_new.csv'))